/* BLOCCO_DEBUG */
[class*="col-"] {
  /* height: 100px; */
  /* border: 1px solid black; */
}
/* /BLOCCO_DEBUG */

/* FISSE */
body{
  text-align: center;
}

h3{
  font-size: 30px;
}

hr{
  display: inline-block;
  width: 10%;
  min-width: 80px;
  border-top: 5px solid white;
  margin-bottom: 15px;
}

.stella{
  color: #2c3d51;
  font-size: 40px;
  padding-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

a{
  text-decoration: none;
  color: white;
}
a:hover{
  color: #19bd9b;
  text-decoration: none;
}
/* /FISSE */

/* HEADER */
header{
  color: white;
}
.header_top{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: #2c3d51;
  height: 80px;
  line-height: 80px;
}

header a{
  font-weight: bold;
  font-size: 18px;
}

.menu, .triple-menu{
  text-align: right;
}
.my-hamburger{
  padding: 5px 10px;
  background: #19bd9b;
  font-size: 30px;
  border-radius: 10%;
  vertical-align: top;
  margin-top: 20px;
}
.my-hamburger:hover{
  background: #159a80;
  cursor: pointer;
}

.inline-block{
  display: inline-block;
}
.triple-menu .inline-block:nth-of-type(2){
  margin: 0 15px;
}

.header_bottom{
  margin-top: 80px;
  background: #19bd9b;
}

.avatar{

  padding: 40px 0;
}
.avatar img{
  height: 200px;
  border-radius: 50%;
}
.avatar .stella{
  color: white;
  font-size: 40px;
}
.avatar h4{
  margin: 20px 0 0;
}
/* /HEADER */

/* PORTFOLIO */
.portfolio hr, .contact hr{
  border-top: 5px solid #2c3d51;
}

.portfolio{
  padding-top: 20px;
  padding-bottom: 40px;
}
.image-container{
  position: relative;
}

.portfolio img{
  display: block;
  width: 100%;
  margin: 15px 0;
  border-radius: 10px;
}

.layover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.layover:hover{
  background-color: rgba(40, 176, 151, 0.8);
  cursor: pointer;
}

.plus{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.plus i{
  font-size: 50px;
  color: white;
  display: none;
}

.layover:hover i{
  display: block;
}
/* /PORTFOLIO */

/* ABOUT */
.about{
  background: #1cbb9c;
  color: white;
}

.about .stella{
  font-size: 40px;
  color: white;
}

.about p{
  color: white;
  text-align: left;
  font-size: 18px;
  margin-bottom: 20px;
}

.my-btn{
  margin: 10px auto 30px;
  background: #1cbb9c;
  color: white;
  padding: 10px 25px;
  border: 1px solid white;
}
/* /ABOUT */

/* CONTACT */
.contact{
  margin-top: 20px;
  color: #2c3d51;
}

.contact input{
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #2c3d51;
  width: 100%;
  margin-bottom: 5px;
}

.contact span{
  color: grey;
}
.contact .last-text{
  margin-top: 15px;
}

.contact input, .contact textarea{
  display: block;
  width: 100%;
}

.contact textarea{
  margin-top: 15px;
  border: 1px solid #2c3d51;
}

.version-2:hover{
  background: #159a80;
  color: white;
}
/* /CONTACT */

footer{
  color: white;
}
.footer_top{
  background: #2b3c52;
  padding: 30px 0;
}
.footer_top .footer_item{
  margin: 25px 0;
}
.footer_item .social{
  display: inline-block;
  margin-right: 5px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid white;
  border-radius: 50%;
  font-size: 20px;
}

#start-link{
  color: #19bd9b;
}
#start-link:hover{
  color: #159a80;
  text-decoration: underline;
}

.footer_bottom{
  background: #1b2433;
  padding: 30px 0;
  font-size: 10px;
}

@media screen and (max-width: 991px){

  header a{
    font-size: 16px;
  }

}

@media screen and (max-width: 767px){

  .triple-menu{
    display: none;
  }

  .avatar img{
    height: 150px;
  }

}

@media screen and (min-width: 768px){

  .menu span{
    display: none;
  }

}

@media screen and (max-width: 414px){

  header a{
    font-size: 11px;
  }

  .my-hamburger{
    font-size: 20px;
    margin-top: 25px;
  }

}
